{% load static %}

<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" readonly='True'></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send"><br>
    <a href="{% url 'logout' %}" target="blank"><strong>logout here</strong></a>!
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"user_name" }}

    <script src='{% static 'reconnecting-websocket.js' %}'></script>
    
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user_name = JSON.parse(document.getElementById('user_name').textContent);

        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e) {
            fetchMessages();
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data['message'];
            
            if (data['command'] === 'messages') {
                for (let i=0; i<data['messages'].length; i++) {
                createMessage(data['messages'][i]);
                    }
            } else if (data['command'] === 'new_message'){
                createMessage(data['message']);
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command':'new_message',
                'message': message,
                'from': user_name,
            }));
            messageInputDom.value = '';
            document.getElementById("chat-log").scrollTop = document.getElementById("chat-log").scrollHeight
        };

        function fetchMessages() {
            chatSocket.send(JSON.stringify({
                'command': 'fetch_messages'
            }));
        };

        function createMessage(data){
            var author = data['author'];
            var message = data.content;
            document.querySelector('#chat-log').value += ( author + ': ' + message + '\n');
        }
    </script>
</body>
</html>